<h1><%=@page_title %></h1>
<div class="row">
  <button id='cardCreation'>Create New Card</button>
  <button>Edit Card</button>
</div>
<div class="row">
  <% @cards.each do |card| %>
    <a href="/calculate/card/<%=card[:id] %>"><%=card[:card_name] %></a> - edit <a href="/delete/card/<%=card[:id] %>">delete</a><br/>
  <% end %>
</div>
